*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: lightgray;
}
.container{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 3rem;
    margin: auto;
}
.card_icon{
    width: calc((1200px - 12rem) / 5);
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: white;
}
.card_icon > i{
    font-size: 40px;
    margin-bottom: .5rem;
}
.name{
    text-transform: uppercase;
}
.d_none{
    display: none;
}