*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: lightgray;
}
.container{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 3rem;
    margin: auto;
}
.card_icon{
    width: calc((1200px - 12rem) / 5);
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: white;
}
.card_icon > i{
    font-size: 40px;
    margin-bottom: .5rem;
}
.name{
    text-transform: uppercase;
}
.d_none{
    display: none;
}
.start{
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(65, 213, 254);
}
.start > label{
    margin-right: .5rem;
}
.filtro{
    padding:.5rem .8rem ;
    border-radius: .5rem;
}
.vai{
    margin-left: .5rem;
    color: white;
    background-color: rgb(143, 139, 139);
    padding: .5rem .8rem;
    cursor: pointer;
    border: none;
    border-radius: .5rem;
}